*.pyc
*.obj
log.txt*
out.*
*.log
.idea/
__pycache__/
.svn*
obj/
bin/
*.suo
*.user
Log/
log/
*.db
*.pdb
*.zip
*.opensdf
*.sdf
*.suo
*.ncb
*.htm
*.obj
*.idb
*.pdb
*.log
*.tlog
*.cbp
*.depend
*.layout
*.user
*.bak
*.old
*.o
*.exe
*.exp
*.ilk
*.ipch
*.lnk
*.cache
*.bi
*.metagen
*.force
*.db
*.svnbase
*.data
*.aps
*.v
*.cd
*.randomlog
*.pch
*.log
*.old
*.tmp
*.sql
*.txt
*.csv
.svn/
.*/
debug/
release/
obj/
bin/
old/
temp/
result/
out/
build/
dist/
.ipynb_checkpoints/
